{% extends 'js.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
<h2>Crear Solicitud de Movilidad</h2>
<form method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputNumeroDeControl">Numero de Control</label>
            <input type="text" class="form-control" id="inputNumeroDeControl" placeholder="{{ user.username }}" disabled>
        </div>
        <div class="form-group col-md-4">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre"
                placeholder="{{ user.first_name }} {{ user.last_name }}" disabled>
        </div>
        <div class="form-group col-md-4">
            <label for="inputSemestre">Semestre</label>
            <input type="text" class="form-control" id="inputSemestre" placeholder="" disabled>
        </div>

        <div class="form-group col-md-4">
            {{ form.idInstituto|as_crispy_field }}
        </div>

        <div class="form-group col-md-4">
            {{ form.coment|as_crispy_field }}
        </div>

        {{ form.idStatus.as_hidden }}
        {{ form.idAcademia.as_hidden }}
        {{ form.idServicio.as_hidden }}
        {{ form.numeroControl.as_hidden }}

    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
</form>
</div>
{% endblock %}