{% extends 'index.html' %}
{% load static %}

{% block content %}

    <!-- Custom styles for this page -->
    <link href="{% static 'simel/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

<div class="container-fluid">
    <!-- tabla de solicitudes -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Solicitudes de Movilidad</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Numero de Control</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Instituto</th>
                <th>Fecha de Solicitud</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for t in solicitud %}
              <tr>
                <td class='clickable-row' data-href="{% url 'capturar_form' id=t.idsoli %}"> {{ t.numControl }}</td>
                <td>{{ t.alumno }}</td>
                <td>{{ t.carrera }}</td>
                <td>{{ t.instituto }}</td>
                <td>{{ t.fecha }}</td>
                <td>{{ t.status }}</td>
              </tr>
              {% endfor %}
            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>

    <!-- Page level custom scripts -->
    <script src="{% static 'simel/js/demo/datatables-demo.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'simel/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'simel/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

{% endblock %}