{% extends 'convalidar.html'%}
{% load static %}

{% block content %}
        <!-- Begin Page Content -->
        <form onsubmit="addMateria(event)">
            <h4 align="center">Capturar</h4>
            <div class="form-row">
               <div class="form-group col-md-4">
                <label for="inputPais">Materia</label>
                <select id="MateriaMovilidad" class="form-control">
                <!-- aqui poner las materias de esa solicitud -->
                <!-- tambien validar si esa materia ya se capturo no volverse a Capturar para ese alumno -->
                  <option selected>Eligir...</option>
                  <option>Programacion Web</option>
                  <option>Tesebada</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputNombre">Promedio</label>
                <input type="number" class="form-control" id="Promedio" placeholder="#" min="10"
                                                max="100" >
              </div>
              
            </div>
           
            <div class="row justify-content-center">
    <div class="row-4"></div>
     <button class="btn btn-info btn-lg" type="submit">Agregar</button>
         </form>    
            <table class="table tale-striped" style="display: inline-block">
    <thead>
      <tr>
        <th>#</th>
        <th>Materia</th>
        <th>Promedio</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>


</ul>

   <div class="row justify-content-center">
    <div class="row-4"></div>
     <button class="btn btn-primary btn-lg" onclick=Alerta()>Guardar</button>
 </div>
    <div class="row-4"></div>
  </div>
  <div class="row">
 
         
  
          <!-- Content Row -->
          <div class="row">
            <div class="col-lg-6 mb-4">

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
  {% endblock %}