{% extends 'index.html' %}
{% load static %}

{% block content %}

  <style>
        .timeline {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .li {
            transition: all 200ms ease-in;
        }
    
        .timestamp {
            margin-bottom: 20px;
            padding: 0px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 100;
        }
    
        .status {
            padding: 10px 40px;
            display: flex;
            justify-content: center;
            border-top: 2px solid #D6DCE0;
            position: relative;
            transition: all 200ms ease-in;
        }
    
    
        .status:before {
            content: "";
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid #ddd;
            position: absolute;
            top: -15px;
            left: 42%;
            transition: all 200ms ease-in;
        }
    
        .li.complete .status {
            border-top: 2px solid #4166D5;
        }
    
        .li.complete .status:before {
            background-color: #4166D5;
            border: none;
            transition: all 200ms ease-in;
        }
    
        @media (min-device-width: 320px) and (max-device-width: 700px) {
            .timeline {
                list-style-type: none;
                display: block;
            }
    
            .timestamp {
                width: 100px;
            }
    
            .status:before {
                left: -8%;
                top: 30%;
                transition: all 200ms ease-in;
            }
        }
    </style>
        <form method="POST" action=""> {% csrf_token %}
                <div class="container">
                    <div class="jumbotron">
                        <h1 class="display-4">Datos de Solicitud</h1>
                        <p class="lead">{{ instance.numeroControl.nombre }} {{ instance.numeroControl.apellido }} -
                            {{ instance.numeroControl }}</p>
                        <hr class="my-4">
                        <p>{{ instance.idInstituto }}</p>
                        <p>Comentario de la solicitud: {{ instance.coment }}</p>
                        <hr class="my-4">
                        <h4 class="display-8">Materias Solicitadas</h4>
                        <ul class="list-group list-group-horizontal-xl">
                            {% for a in materias %}
                            <li class="list-group-item">{{ a.idMateria }}</li>
                            {{ form.as_table }}
                            {% endfor %}
                        </ul>
                        <hr class="my-4">
            
                        <div class="container">
                            <ul class="timeline" id="timeline">
                                {% for m in movimientos %}
                                <li class="li complete">
                                    <div class="timestamp">
                                        <span class="author">{{ m.usuario.first_name }} {{ m.usuario.last_name }}</span>
                                        <span class="date">{{ m.fecha }}<span>
                                    </div>
                                    {% if m.idStatus.status == 'Rechazado' %}
                                    <div class="status">
                                        <h5 class="text-danger"> {{ m.idStatus.status }} </h5>
                                    </div>
                                    {% elif m.idStatus.status == 'Pendiente' %}
                                    <div class="status">
                                            <h5 class="text-warning"> {{ m.idStatus.status }}</h5>
                                        </div>
                                    {% else %}
                                    <div class="status status-final">
                                        <h5 class="text-primary"> {{ m.idStatus.status }} </h5>
                                    </div>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if user.is_staff or user.is_superuser  %}
                          {% if instance.idStatus.id == 2 %}
                            <hr class="my-4">
                            {% if eligible %}
                            <p>El alumno no tiene aduedos.</p> <i class="em em---1"></i>
                            <a class="btn btn-primary" href="#" role="button" onclick="aceptarCoordinacion();">Validar Solicitud</a>
                            {% else %}
                            <p>El alumno tiene adeudos!</p>
                            <a class="btn btn-danger" href="#" role="button" onclick="rechazar();">Rechazar Solicitud</a>
                            {% endif %}
                          {% endif %}l.
                        {% endif %}
                    </div>
            
                </div>
                </form>

<script>
 function aceptarCoordinacion() {
            $.ajax({
                type: 'POST',
                url: '/simel/simel/actualiza',
                data: {
                    status: 3,
                    usuario: {{user.id}},
                    solicitud: {{instance.id}},
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    alert('Los cambios fueron hechos!')
                    location.reload()
                }
            });
        }
    
        function rechazar() {
            $.ajax({
                type: 'POST',
                url: '/simel/simel/actualiza',
                data: {
                    status: 4,
                    usuario: {{user.id}},
                    solicitud: {{instance.id}},
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    alert('Los cambios fueron hechos!')
                    location.reload()
                }
            });
        }
</script>


<script>
        var completes = document.querySelectorAll(".complete");
        var toggleButton = document.getElementById("toggleButton");
    
    
        function toggleComplete() {
            var lastComplete = completes[completes.length - 1];
            lastComplete.classList.toggle('complete');
        }
 </script>

{% endblock %}